.photo-card {
    /* /padding-left: 400px; */
    margin-top: 100px;
    width:500px;
    height: 300px;
    background-color:#999900;
    padding: 10%;
    margin-left: 30%;
    border-radius: 10px;

  }


  .image{
    width:350px;
    height:300px;
    margin-left: 26%;
    border-radius: 5px;
  }

  .title{
    margin-left: 50%;
    margin-top: -14%;

  }

  .likes{
    margin-left: 50%;


  }

  .comments{
    margin-left: 30%;

  }

  .like-button{
    background-color: red;
    border-radius: 2px;
    border-color: black;
    margin-top: 4%;

  }

  .comment-input{
    border-radius: 2px;
    border-color: black;
    margin-left: 35%;
    margin-top: 3%;
  }

  .comment-button{
    border-radius: 2px;
    border-color: black;
    
  }